@model System.Data.DataTable
@using System.Data;

@{
    Layout = null;
}

@if (Model == null || Model.Rows.Count == 0)
{
    <div id="pnlPopup" class="alert alert-info">
        <strong>Info!</strong> NO RECORDS FOUND
    </div>
    return;
}

<script type="text/javascript">
    $(function () {
        $('#btnSubmit').click(function () {

            $("input[name='GridHtml']").val($('#GridNew').html());
            $("input[name='reporttittle']").val($('#divReportPanelHeader').text());
            $("input[name='reportname']").val($('#divReportPanelHeader').text());
        });
    });
</script>
<div>

    <div id="divSaveReport" style="float:left;display:inline-block">

        Export :: <input id="export" type="button" onclick="exportToExcel('DPLedger', 'tblBeneficiaryHold','@System.Configuration.ConfigurationManager.AppSettings["OrganizationName"].ToString().Trim()', document.getElementById('divReportPanelHeader').textContent)" class="excel-button" value="To Excel" />

    </div>
    <div id="divSaveReport1" style="float:left;">
        @using (Html.BeginForm("Export", "Tplus", FormMethod.Post))
            {
            <input type="hidden" name="GridHtml" /><input type="hidden" name="reporttittle" /><input type="hidden" name="reportname" /><input type="submit" id="btnSubmit" value="To PDF" style="margin-left:10px" />
        }
    </div>
    @if (ViewBag.ChkListOfBal == "0")

    {   
        <table height="120" width="100%" style="LEFT: 0px;" cellspacing="0" id="tblBeneficiaryHold">
        @for (int ir = 0; ir < Model.Rows.Count; ir++)
        {
            <tbody style="background-color:white;">
                <tr style="background-color:white;"><td align="right">Account :</td><td>@Model.Rows[ir]["Client"].ToString()</td><td align="right">Print Date :&nbsp;</td><td>@DateTime.Now.ToString("dd/MM/yyyy")</td></tr>
                <tr style="background-color:white;"><td align="right">Address</td> <td>@Model.Rows[ir]["cm_add1"].ToString()</td><td align="right">From  :&nbsp;</td><td>@ViewBag.FromDate</td></tr>
                <tr style="background-color:white;"><td align="right">&nbsp;</td><td>@Model.Rows[ir]["cm_add2"].ToString()</td><td align="right">To  :&nbsp;</td><td>@ViewBag.ToDate</td></tr>
                <tr style="background-color:white;"><td align="right">&nbsp;</td><td>@Model.Rows[ir]["cm_add3"].ToString()</td><td align="right">BackOffice Code :&nbsp;</td><td>@Model.Rows[ir]["cm_blsavingcd"].ToString()</td></tr>
                <tr style="background-color:white;"><td align="right">Pin  :&nbsp;</td><td>@Model.Rows[ir]["cm_pin"].ToString() </td><td align="right">&nbsp;</td><td></td></tr>


            </tbody>
            break;
        }

    </table>
    <table id="tblBeneficiaryHold" class="table package-table">
        <thead>
            <tr class="GroupHeader">
                <th class="leftalign GroupHeader">Date</th>
                <th class="leftalign GroupHeader">Voucher</th>
                <th class="rightalign GroupHeader">Particulars</th>
                <th class="rightalign GroupHeader">Debit</th>
                <th class="rightalign GroupHeader">Credit</th>
                <th class="leftalign GroupHeader">Balance</th>
            </tr>
        </thead>
        <tbody>
            @{ decimal Debit = 0;
                decimal Credit = 0;}

            @for (int ir = 0; ir < Model.Rows.Count; ir++)
            {
                Debit = Debit + Convert.ToDecimal(Model.Rows[ir]["Debit"]);
                Credit = Credit + Convert.ToDecimal(Model.Rows[ir]["Credit"]);
                <tr>
                    <td class="leftalign">@Model.Rows[ir]["ledgerdt"].ToString()</td>
                    <td class="leftalign">@Model.Rows[ir]["strVoucher"].ToString()</td>
                    <td class="rightalign">@Model.Rows[ir]["ld_particular"].ToString()</td>
                    <td class="rightalign">@Model.Rows[ir]["Debit"].ToString()</td>
                    <td class="rightalign">@Model.Rows[ir]["Credit"].ToString()</td>
                    <td class="rightalign">@Model.Rows[ir]["balance"].ToString()</td>
                </tr>
            }
            <tr class="GroupHeader">
                <td class="GroupHeader"></td>
                <td class="GroupHeader">Total</td>
                <td class="GroupHeader"></td>
                <td class="rightalign GroupHeader"><strong>@Debit</strong></td>
                <td class="rightalign GroupHeader"><strong>@Credit</strong></td>
                <td class="rightalign GroupHeader">@Model.Rows[Model.Rows.Count - 1]["balance"].ToString()</td>

            </tr>

        </tbody>
    </table>}
    @if (ViewBag.ChkListOfBal == "1")

    {<table id="tblBeneficiaryHold" class="table package-table">
        <thead>
            <tr class="GroupHeader">
                <th class="leftalign GroupHeader">Code</th>
                <th class="leftalign GroupHeader">Client</th>
                <th class="rightalign GroupHeader">BackofficeCd</th>
                <th class="rightalign GroupHeader">Opening Bal</th>
                <th class="rightalign GroupHeader">Closing Bal</th>                
            </tr>
        </thead>
        <tbody>          

            @for (int ir = 0; ir < Model.Rows.Count; ir++)
            {
              
                <tr>
                    <td class="leftalign">@Model.Rows[ir]["ld_clientcd"].ToString()</td>
                    <td class="leftalign">@Model.Rows[ir]["cm_name"].ToString()</td>
                    <td class="rightalign">@Model.Rows[ir]["cm_BlSavingCd"].ToString()</td>
                    <td class="rightalign">@Model.Rows[ir]["ld_OpenBal"].ToString()</td>
                    <td class="rightalign">@Model.Rows[ir]["ld_CloseBal"].ToString()</td>
                    
                </tr>
            }
            <tr class="GroupHeader">
                <td class="GroupHeader"></td>
                <td class="GroupHeader">Total</td>
                <td class="GroupHeader"></td>
                <td class="rightalign GroupHeader"><strong></strong></td>
                <td class="rightalign GroupHeader"><strong></strong></td>
                <td class="rightalign GroupHeader"></td>
            </tr>

        </tbody>
    </table> }
  
    <div id="GridNew" hidden="hidden">
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px #dddddd;
                padding: 4px;
            }

            .rightalign {
                text-align: right;
            }

            .leftalign {
                text-align: left;
            }

            .centeralign {
                text-align: center;
            }
        </style>

        @if (ViewBag.ChkListOfBal == "0")

        {
            <table height="120" width="100%" style="LEFT: 0px;" cellspacing="0" id="tblBeneficiaryHold">
                @for (int ir = 0; ir < Model.Rows.Count; ir++)
                {
                    <tbody style="background-color:white;">
                        <tr style="background-color:white;"><td align="right">Account :</td><td>@Model.Rows[ir]["Client"].ToString()</td><td align="right">Print Date :&nbsp;</td><td>@DateTime.Now.ToString("dd/MM/yyyy")</td></tr>
                        <tr style="background-color:white;"><td align="right">Address</td> <td>@Model.Rows[ir]["cm_add1"].ToString()</td><td align="right">From  :&nbsp;</td><td>@ViewBag.FromDate</td></tr>
                        <tr style="background-color:white;"><td align="right">&nbsp;</td><td>@Model.Rows[ir]["cm_add2"].ToString()</td><td align="right">To  :&nbsp;</td><td>@ViewBag.ToDate</td></tr>
                        <tr style="background-color:white;"><td align="right">&nbsp;</td><td>@Model.Rows[ir]["cm_add3"].ToString()</td><td align="right">BackOffice Code :&nbsp;</td><td>@Model.Rows[ir]["cm_blsavingcd"].ToString()</td></tr>
                        <tr style="background-color:white;"><td align="right">Pin  :&nbsp;</td><td>@Model.Rows[ir]["cm_pin"].ToString() </td><td align="right">&nbsp;</td><td></td></tr>


                    </tbody>
                    break;
                }

            </table>
            <table id="tblBeneficiaryHold" class="table package-table">
                <thead>
                    <tr class="GroupHeader">
                        <th class="leftalign GroupHeader">Date</th>
                        <th class="leftalign GroupHeader">Voucher</th>
                        <th class="rightalign GroupHeader">Particulars</th>
                        <th class="rightalign GroupHeader">Debit</th>
                        <th class="rightalign GroupHeader">Credit</th>
                        <th class="leftalign GroupHeader">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    @{ decimal Debit = 0;
                decimal Credit = 0;}

                    @for (int ir = 0; ir < Model.Rows.Count; ir++)
                    {
                        Debit = Debit + Convert.ToDecimal(Model.Rows[ir]["Debit"]);
                        Credit = Credit + Convert.ToDecimal(Model.Rows[ir]["Credit"]);
                        <tr>
                            <td class="leftalign">@Model.Rows[ir]["ledgerdt"].ToString()</td>
                            <td class="leftalign">@Model.Rows[ir]["strVoucher"].ToString()</td>
                            <td class="rightalign">@Model.Rows[ir]["ld_particular"].ToString()</td>
                            <td class="rightalign">@Model.Rows[ir]["Debit"].ToString()</td>
                            <td class="rightalign">@Model.Rows[ir]["Credit"].ToString()</td>
                            <td class="rightalign">@Model.Rows[ir]["balance"].ToString()</td>
                        </tr>
                    }
                    <tr class="GroupHeader">
                        <td class="GroupHeader"></td>
                        <td class="GroupHeader">Total</td>
                        <td class="GroupHeader"></td>
                        <td class="rightalign GroupHeader"><strong>@Debit</strong></td>
                        <td class="rightalign GroupHeader"><strong>@Credit</strong></td>
                        <td class="rightalign GroupHeader">@Model.Rows[Model.Rows.Count - 1]["balance"].ToString()</td>
                    </tr>

                </tbody>
            </table>}
        @if (ViewBag.ChkListOfBal == "1")

        {<table id="tblBeneficiaryHold" class="table package-table">
            <thead>
                <tr class="GroupHeader">
                    <th class="leftalign GroupHeader">Code</th>
                    <th class="leftalign GroupHeader">Client</th>
                    <th class="rightalign GroupHeader">BackofficeCd</th>
                    <th class="rightalign GroupHeader">Opening Bal</th>
                    <th class="rightalign GroupHeader">Closing Bal</th>
                </tr>
            </thead>
            <tbody>

                @for (int ir = 0; ir < Model.Rows.Count; ir++)
                {

                    <tr>
                        <td class="leftalign">@Model.Rows[ir]["ld_clientcd"].ToString()</td>
                        <td class="leftalign">@Model.Rows[ir]["cm_name"].ToString()</td>
                        <td class="rightalign">@Model.Rows[ir]["cm_BlSavingCd"].ToString()</td>
                        <td class="rightalign">@Model.Rows[ir]["ld_OpenBal"].ToString()</td>
                        <td class="rightalign">@Model.Rows[ir]["ld_CloseBal"].ToString()</td>

                    </tr>
                }
                <tr class="GroupHeader">
                    <td class="GroupHeader"></td>
                    <td class="GroupHeader">Total</td>
                    <td class="GroupHeader"></td>
                    <td class="rightalign GroupHeader"><strong></strong></td>
                    <td class="rightalign GroupHeader"><strong></strong></td>
                    <td class="rightalign GroupHeader"></td>
                </tr>

            </tbody>
        </table> }

    </div>

    </div>
<script src="~/Scripts/Export.js"></script>