@model System.Data.DataTable
@using System.Data;

@{
    Layout = null;
}
@if (Model == null || Model.Rows.Count == 0)
{
    <div id="pnlPopup" class="alert alert-info">
        <strong>Info!</strong> NO RECORDS FOUND
    </div>
    return;
}

<style>
    .rightalign {
        text-align: right;
    }

    .leftalign {
        text-align: left;
    }

    .centeralign {
        text-align: center;
    }

    tr td {
        padding: 4px !important;
        margin: 4px !important;
    }

    .GroupHeader {
        background: #4682B4;
        color: white;
    }

    .table {
        font-family: Verdana !important;
        font-size: 10px !important;
    }

    tr:nth-child(even) {
        background-color: white;
    }


    .myLink {
        text-decoration: underline;
        cursor: pointer;
        color: dodgerblue;
    }

    .hideonload {
        display: none;
    }
</style>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {

            $("input[name='GridHtml']").val($("#GridNew").html());
            $("input[name='reporttittle']").val($("#divReportPanelHeader").text());
            $("input[name='reportname']").val($("#divReportPanelHeader").text());
        });
    });
</script>

<div>

    <div id="divSaveReport" style="float:left;display:inline-block">

        Export :: <input id="export" type="button" onclick="exportToExcel('MarginPledgeRequest', 'tblClientpdf','@System.Configuration.ConfigurationManager.AppSettings["OrganizationName"].ToString()', document.getElementById('divReportPanelHeader').textContent)" class="excel-button" value="To Excel" />

    </div>
    <div id="divSaveReport1" style="float:left;">
        @using (Html.BeginForm("Export", "Tplus", FormMethod.Post))
        {
            <input type="hidden" name="GridHtml" /><input type="hidden" name="reporttittle" /><input type="hidden" name="reportname" /><input type="submit" id="btnSubmit" value="To PDF" style="margin-left:10px" />
        }
    </div>


    <table id="tblClient" class="table">
        <tr class="GroupHeader">
            <td class="leftalign">Code</td>
            <td class="leftalign">Name</td>
            <td class="leftalign">BOID</td>
            <td class="rightalign">Quantity </td>
            <td class="rightalign">Value </td>
            <td class="rightalign">8 Request Qty </td>
            <td class="rightalign">Request Value </td>
            <td class="centeralign"></td>


        </tr>
        @for (int ir = 0; ir < Model.Rows.Count; ir++)
        {
            <tr>

                <td class="leftalign">@Model.Rows[ir]["th_cmCd"].ToString()</td>
                <td class="leftalign">@Model.Rows[ir]["cm_Name"].ToString()</td>

                <td class="leftalign">@Model.Rows[ir]["th_dematactno"].ToString()</td>
                <td class="rightalign">@Model.Rows[ir]["th_qty"].ToString()</td>


                <td class="rightalign">@Model.Rows[ir]["th_netValue"].ToString()</td>
                <td class="rightalign">@Model.Rows[ir]["th_retain"].ToString()</td>
                <td class="rightalign">@Model.Rows[ir]["ReqValue"].ToString()</td>
                <td><input class="tablecelledit" id="Edit" type="button" value="Edit" /></td>

            </tr>
            <tr id="tr_@Model.Rows[ir]["th_dematactno"].ToString().Trim()" class="hideonload">
                <td colspan="8">
                    <div id="divshowClientDetail">
                        <div id="divInner_@Model.Rows[ir]["th_dematactno"].ToString().Trim()">
                        </div>

                    </div>
                </td>
            </tr>
        }
    </table>
    <div id="GridNew" hidden="hidden">
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px #dddddd;
                padding: 4px;
            }

            .GroupHeader {
                background: #4682B4;
                color: white;
            }

            .rightalign {
                text-align: right;
            }

            .leftalign {
                text-align: left;
            }

            .centeralign {
                text-align: center;
            }
        </style>
        <table id="tblClientpdf" class="table table-responsive" style="font-size:10px; font-family: arial, sans-serif;  border-collapse: collapse;  width: 100%;">
            <tr class="GroupHeader">
                <td class="leftalign">Code</td>
                <td class="leftalign">Name</td>
                <td class="leftalign">BOID</td>
                <td class="rightalign">Quantity </td>
                <td class="rightalign">Value </td>
                <td class="rightalign">8 Request Qty </td>
                <td class="rightalign">Request Value </td>
                <td class="centeralign"></td>


            </tr>
            @for (int ir = 0; ir < Model.Rows.Count; ir++)
            {
                <tr>

                    <td class="leftalign" style="text-align:left">@Model.Rows[ir]["th_cmCd"].ToString()</td>
                    <td class="leftalign">@Model.Rows[ir]["cm_Name"].ToString()</td>

                    <td class="leftalign">@Model.Rows[ir]["th_dematactno"].ToString()</td>
                    <td class="rightalign">@Model.Rows[ir]["th_qty"].ToString()</td>


                    <td class="rightalign">@Model.Rows[ir]["th_netValue"].ToString()</td>
                    <td class="rightalign">@Model.Rows[ir]["th_retain"].ToString()</td>
                    <td class="rightalign">@Model.Rows[ir]["ReqValue"].ToString()</td>
                    @*<td><input class="tablecelledit" id="Edit" type="button" value="Edit" /></td>*@

                </tr>
                <tr id="tr_@Model.Rows[ir]["th_dematactno"].ToString().Trim()" class="hideonload">
                    <td colspan="8">
                        <div id="divshowClientDetail">
                            <div id="divInner_@Model.Rows[ir]["th_dematactno"].ToString().Trim()">
                            </div>

                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<script>
    $(document).on('click', "#tblClient td", function (event) {
        event.preventDefault();
        var colindex = $(this).index();
        var row_index = $(this).parent().index();
        if (colindex == 7) {

            var InputVal = $(this).closest("tr").find('#Edit').val();
            var Code = $(this).closest('tr').children('td:eq(2)').text().trim();
            var ClientCode = $(this).closest('tr').children('td:eq(0)').text().trim();

            $('#divInner_' + Code).html('');
            if ($(this).closest("tr").find('#Edit').val() == "Edit") {
                $(this).closest("tr").find('#Edit').val('Cancel');

                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetPledgeRequest", "DPService")',
                    dataType: "html",
                    data: { 'Code': Code, 'ClientCode': ClientCode },
                    contentType: "application/html; charset=utf-8",
                    beforeSend: function () {
                        $('#divModalProgress').modal('show');
                    },
                    success: function (data) {

                        $('#tr_' + Code).show();
                        $('#divInner_' + Code).html(data);

                    },
                    complete: function () {

                        $('#divModalProgress').modal('hide');
                    },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
            }
            else if ($(this).closest("tr").find('#Edit').val() == "Cancel") {
                $(this).closest("tr").find('#Edit').val('Edit');
                $('#tr_' + Code).hide();
            }

        }
    });

</script>

<script>
    $(document).on('click', "#btnSave", function (event) {
          // event.preventDefault();
        event.stopImmediatePropagation();
        var Code = '';       
            var PledgeRequest = [];
            $("#tblClient tbody tr.Request").each(function () {
                var row = $(this).closest('tr');
                var Amount = row.find('input[name="RequestQty"]').val();

                if (Amount != "0") {
                  
                    Code = $(this).closest('tr').children('td:eq(0)').text().trim();

                    var BulkPledgeRequest = {};
                    BulkPledgeRequest.ClientCode = Code;
                    BulkPledgeRequest.RequestQty = Amount;

                    PledgeRequest.push(BulkPledgeRequest);
                }
                
            });

            var jsondata = JSON.stringify({
                'BulkPledgeRequest': PledgeRequest

            });

        if (PledgeRequest != "") {
             $.ajax({
                type: "POST",
                url: '@Url.Action("SavePledgeRequest", "DPService")',
                data: jsondata,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#divModalProgress').modal('show');
                },
                 success: function (r) {
                    alert(r);
                },
                complete: function () {
                    event.preventDefault();
                    var Code = "";
                    var valNew = $('#txtSearchbyName').val();
                    if (valNew.trim() != "") {
                        valNew = $('#txtSearchbyName').val().split("~");
                        Code = valNew[1]
                    }
                    $('#divReportPanelBody').html('');
                    $('#divReportPanel').hide();

                    $('.ledgerbody').hide();

                    var display;
                    display = 'MARGIN PLEDGE REQUEST'
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("PledgeRequestReport", "DPService")',
                        dataType: "html",
                        data: { 'Code': Code, 'cmbSelect': $('#cmbSelect').val() },
                        contentType: "application/html; charset=utf-8",
                        beforeSend: function () {
                            $('#divModalProgress').modal('show');
                            $('#divSaveReport').hide();
                        },
                        success: function (response) {
                            $('#divReportPanelHeader').html(display);
                            $('#divReportPanelBody').html(response);
                            $('#divReportPanel').show();

                        },
                        complete: function () {
                            $('#divModalProgress').modal('hide');
                            $('#divSaveReport').show();
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                error: function (xhr, httpStatusMessage, customErrorMessage) {
                    if (xhr.status === 410) {
                        alert(customErrorMessage);
                    }
                }
            });
            alert("Records Save Successfully!")
        }
        else {

            alert("Enter Quantity Greater Than Zero For Saving Record");
        }
            //Send the JSON array to Controller using AJAX.

        });
</script>

<script src="~/Scripts/Export.js"></script>
