@{
    ViewBag.Title = "ClientDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/AdminLTE/daterangepicker/daterangepicker.css">
<link href="~/AdminLTE/multiselct/dist/css/bootstrap-multiselect.css" rel="stylesheet" />

<style>
    /* Important part */
    .modal-dialog {
        overflow-y: initial !important;
    }

    .modal-body {
        height: 600px;
        overflow-y: auto;
    }
</style>
<div id="divModalProgress" class="modal" style="display: none">
    <div class="center">
        <img alt="" src="~/img/loader.gif" />
    </div>
</div>

<div class="container-fluid row-no-gutters">
    <div class="row" align="center">
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-info">
                    <div id="divProfitLossHead" style="height: 28px;padding:6px; font-family:Verdana; font-size:12px; font-weight:800; text-align:center" class="panel-heading ledgerhead">
                        <a href="#"><strong>CLIENT MASTER DETAILS</strong></a>
                    </div>
                    <div align="center" id="divProfitLossSelect" class="panel-body ledgerbody">
                        <form class="form-horizontal" action="" method="post">
                            <div class="form-group">
                                <div align="left" class="col-md-1" style="margin: 0 0 0 0.9%;width:5%" id="cmbSelect">
                                    Client :
                                </div>
                                <div align="right" class="col-md-3">

                                    <input type="text" class="form-control input-sm" id="txtSearchbyName" placeholder="Search Client" list="ClientMasterSearch" autocomplete="off" required>
                                    <datalist id="ClientMasterSearch"></datalist>
                                </div>

                                <div align="left" class="col-md-2" style="margin: 0 0 0 2.9%;width:13.33%">
                                    Special Filter :
                                </div>

                                <div id="divseg" align="right" class="col-md-2" style="margin: 0 0 0 -2.9%;width: 15.33%;">

                                    <select id='cmbField' class="form-control input-sm">
                                        <option value='N'>None</option>
                                        <option value='E'>Email</option>
                                        <option value='M'>Mobile</option>
                                        <option value='FS'>Freeze Status</option>
                                        <option value='U'>UID</option>
                                        <option value='NTS'>Not Traded Since</option>
                                    </select>
                                </div>
                                <div id="divseg" align="right" class="col-md-2" style="width:13.333%">
                                    <select id='cmbValue' class="form-control input-sm"></select>
                                    <input type="text" value="@ViewBag.date" class="form-control input-sm" style="visibility:collapse;" id="dateBulk">

                                </div>
                                <div align="left" class="col-md-1" style="margin:0 0 0 2.9%;width:7%">
                                    Segment :
                                </div>
                                <div id="divproduct" align="left" class="col-md-1" style="width:12.888%">
                                    @Html.Action("cmbproduct", "Tplus")
                                </div>
                            </div>
                            <div class="form-group">
                                <div align="left" class="col-md-2" style="width:7%;">
                                    Order By :
                                </div>
                                <div align="right" class="col-md-2" style="width:13.333%">
                                    <select id="cmbSort" class="form-control input-sm">
                                        <option value="C">Client Code</option>
                                        <option value="N">Client Name</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div align="right" class="col-md-10">
                                </div>
                                <div align="right" class="col-md-2">
                                    <input type="submit" class="btn btn-primary" id="btnFetch" value="Fetch" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>
    </div>
    <div class="row collapse" align="center" id="divReportPanel">
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="panel panel-info">
                <div id="divReportPanelHeader" style="height: 28px;padding:6px; font-family:Verdana; font-size:12px; font-weight:800; text-align:center" class="panel-heading">
                    CLIENT MASTER DETAILS
                </div>
                @*<div id="divcmbpage" style="float:right;display:flex;">


                        <span style="text-align:left;">Page&nbsp;:&nbsp;&nbsp; </span><select id='cmbpage' class="form-control input-sm"></select>
                    </div>*@
                <div id="divReportPanelBody" class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/AdminLTE/moment/min/moment.min.js"></script>
    <script src="~/AdminLTE/daterangepicker/daterangepicker.js"></script>
    <script src="~/AdminLTE/multiselct/dist/js/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/tpluslibrary.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {


            $('#cmbValue').append(new Option('None', 'None'));
            $("#cmbField").change(function () {
                var category = $('option:selected', this).text(); // Here we can get the value of selected item
                if (category == "None") {
                    $('#cmbValue').empty();
                    $("#cmbValue").css("display", "block");
                    $('#dateBulk').css("visibility", "collapse");
                    $('#cmbValue').append(new Option('None', 'None'));
                }
                else if (category == "Email") {
                    $('#cmbValue').empty();
                    $("#cmbValue").css("display", "block");
                    $('#dateBulk').css("visibility", "collapse");
                    $('#cmbValue').append(new Option('Available', 'Available'));
                    $('#cmbValue').append(new Option('Not Available', 'Not Available'));
                    $('#cmbValue').append(new Option('Bad', 'Bad'));
                }
                else if (category == "Mobile") {
                    $('#cmbValue').empty();
                    $("#cmbValue").css("display", "block");
                    $('#dateBulk').css("visibility", "collapse");
                    $('#cmbValue').append(new Option('Available', 'Available'));
                    $('#cmbValue').append(new Option('Not Available', 'Not Available'));
                    $('#cmbValue').append(new Option('Bad', 'Bad'));
                }

                else if (category == "Freeze Status") {
                    $('#cmbValue').empty();
                    $("#cmbValue").css("display", "block");
                    $('#dateBulk').css("visibility", "collapse");
                    $('#cmbValue').append(new Option('Active', 'Active'));
                    $('#cmbValue').append(new Option('Freeze for Trades', 'Freeze for Trades'));
                    $('#cmbValue').append(new Option('Freeze for Branches', 'Freeze for Branches'));
                    $('#cmbValue').append(new Option('Freeze for All', 'Freeze for All'));
                }
                else if (category == "UID") {
                    $('#cmbValue').empty();
                    $("#cmbValue").css("display", "block");
                    $('#dateBulk').css("visibility", "collapse");
                    $('#cmbValue').append(new Option('Available', 'Available'));
                    $('#cmbValue').append(new Option('Not Available', 'Not Available'));


                }
                else if (category == "Not Traded Since") {
                    $('#cmbValue').empty();
                    $("#cmbValue").css("display", "none");
                    $('#dateBulk').css("visibility", "visible");

                }


            });
        });


        $('#txtSearchbyName').on("input", function () {
            if ($('#txtSearchbyName').val() == "") {
                return;
            }
            var options = {};
            options.url = '@Url.Action("GetClientDetails", "Tplus")';
            options.type = "GET";
            options.data = { 'criteria': $('#txtSearchbyName').val(), 'SearchBy': 'Client' };
            options.dataType = "json";
            options.success = function (data) {
                $("#ClientMasterSearch").empty();
                for (var i = 0; i < data.length; i++) {
                    $('#ClientMasterSearch').append("<option value='" +
                            data[i].ClientName + "'></option>");
                }
            };
            $.ajax(options);
        });

        $(".ledgerhead").click(function () {
            $('.ledgerbody').toggle();
        });

        $('#btnFetch').click(function (event) {
            //event.preventDefault();
            event.stopImmediatePropagation();
            var display;
            display = 'CLIENT MASTER DETAILS'

            //var select = $('#cmbSelect').val();
            var Code = "";
            var valNew = $('#txtSearchbyName').val();
            if (valNew.trim() != "") {
                valNew = $('#txtSearchbyName').val().split("~");
                Code = valNew[1]
            }
            var cmbField = $('#cmbField').val();
            var cmbValue = $('#cmbValue').val();
            var dt = $('#dateBulk').val();
            var cmbproduct = $('#product').val();
            $("#divReportPanelBody").empty();
            $('#divReportPanelBody').html('');
            var Short = 'between 1 and 100';
            if (cmbField == "M" && cmbValue == "Bad") {
                Short = 'between 1 and 1000000';
            }
            var cmbSort = $('#cmbSort').val();


            if (cmbproduct == 'Equity') {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ClientDetailReport", "Tplus")',
                    dataType: "html",
                    data: { 'code': Code, 'cmbField': cmbField, 'cmbValue': cmbValue, 'date': dt, 'pageCondition': Short, 'cmbSort': cmbSort },
                    contentType: "application/html; charset=utf-8",
                    beforeSend: function () {
                        $("#btnFetch").attr("disabled", true);
                        $('#divModalProgress').modal('show');
                        $('#divSaveReport').hide();
                    },
                    success: function (response) {
                        $('#divReportPanelHeader').html(display);
                        $('#divReportPanelBody').html(response);
                        $('#divReportPanel').show();
                        $("#btnFetch").attr("disabled", false);
                    },
                    complete: function () {
                        $('#divModalProgress').modal('hide');
                        $('#divSaveReport').show();
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
            else {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ComClientDetailReport", "Tplus")',
                    dataType: "html",
                    data: { 'code': Code, 'cmbField': cmbField, 'cmbValue': cmbValue, 'date': dt, 'pageCondition': Short, 'cmbSort': cmbSort },
                    contentType: "application/html; charset=utf-8",
                    beforeSend: function () {
                        $("#btnFetch").attr("disabled", true);
                        $('#divModalProgress').modal('show');
                        $('#divSaveReport').hide();
                    },
                    success: function (response) {
                        $('#divReportPanelHeader').html(display);
                        $('#divReportPanelBody').html(response);
                        $('#divReportPanel').show();
                        $("#btnFetch").attr("disabled", false);
                    },
                    complete: function () {
                        $('#divModalProgress').modal('hide');
                        $('#divSaveReport').show();
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

            }



        });




    </script>

}
