@model System.Data.DataTable
@using System.Data;

@{
    ViewBag.Title = "Contract(Commodity)";
    Layout = null;

    List<DataTable>
    result = null;

}

@if (Model == null || Model.Rows.Count == 0)
{
    <div id="pnlPopup" class="alert alert-info">
        <strong>Info!</strong> NO RECORDS FOUND
    </div>
    return;
}

<style>
    tr:nth-child(even) {
        background-color: lightsteelblue;
    }



    .particular {
        width: 700px;
    }

    .amount {
        width: 100px;
        text-align: right;
        vertical-align: bottom;
    }

    .rightalign {
        text-align: right;
        vertical-align: bottom;
    }

    .leftalign {
        text-align: left;
        vertical-align: bottom;
    }

    .centeralign {
        text-align: center;
        vertical-align: bottom;
    }
</style>
@{  result = Model.AsEnumerable()
             .GroupBy(row => row.Field <string>("cm_cd")).Select(g => g.CopyToDataTable()).ToList();
}
<div class="panel-body" style="font-family:Verdana; font-size:11px">
    @foreach (DataTable item in result)
    {
        decimal buytotal = 0;
        decimal selltotal = 0;

        for (int d = 0; d < 1; d++)
        {
            <table style="width:100%">
                <tr class="">
                    <td colspan="6" style="background-color:white;" class="centeralign"><strong style="font-size:16px">Commodity Confirmation Note for :</strong> <strong style="font-size:16px" >@ViewBag.date</strong></td>
                </tr>

                <tr class="">
                    <td style="background-color:white;" class="leftalign">@HttpContext.Current.Session["strCommCompName"] </td>
                </tr>
                <tr class="">
                    <td style="background-color:white;" class="leftalign">@HttpContext.Current.Session["strCommCompAdd1"] </td>
                </tr>

                <tr class="">
                    <td style="background-color:white;" class="leftalign">@HttpContext.Current.Session["strCommCompAdd2"] </td>
                </tr>
                <tr class="">
                    <td style="background-color:white;" class="leftalign">@HttpContext.Current.Session["strCommCompAdd3"] </td>
                </tr>
                <tr class="">
                    <td style="background-color:white;" class="leftalign">@HttpContext.Current.Session["strCommCompAdd4"] </td>
                </tr>
                @if (ViewBag.RdContract == "1")
                {
                    <tr class="">
                        <td colspan="6" style="background-color:white;" class="centeralign">Contract No:@item.Rows[d]["cn_srno"].ToString() </td>
                    </tr>
                    <tr class="">
                        <td colspan="6" style="background-color:white;" class="centeralign">Sebi Reg No:</td>
                    </tr>
                }
                else if (ViewBag.RdTrade == "1")
                {
                    <tr class="">
                        <td colspan="6" style="background-color:white;" class="centeralign">Sebi Reg No:</td>
                    </tr>
                }

                <tr class="">
                    <td colspan="6" style="background-color:white;" class="leftalign">Date :@ViewBag.date</td>
                </tr>
                <tr class="">
                    <td colspan="6" style="background-color:white;" class="leftalign">Contract No. :@item.Rows[d]["cn_srno"].ToString()</td>
                </tr>

                <tr>
                    <td colspan="6"><strong>To :@item.Rows[d]["cm_name"].ToString() [@item.Rows[d]["cm_cd"].ToString()] </strong></td>
                </tr>
                <tr class="">
                    <td colspan="6" style="background-color:white;" class="leftalign">@item.Rows[d]["cm_add1"].ToString()</td>
                </tr>

                <tr class="">
                    <td colspan="6" style="background-color:white;" class="leftalign">@item.Rows[d]["cm_add2"].ToString()</td>
                </tr>

                <tr class="">
                    <td colspan="6" style="background-color:white;" class="leftalign">@item.Rows[d]["cm_add3"].ToString()</td>
                </tr>
                <tr class="">
                    <td colspan="6" style="background-color:white;" class="leftalign">@item.Rows[d]["cm_add4"].ToString()</td>
                </tr>
                <tr class="">
                    <td colspan="6" style="background-color:white;" class="leftalign">@item.Rows[d]["cm_pincode"].ToString()</td>
                </tr>

                @if (item.Rows[d]["cm_tele1"].ToString() != "" || item.Rows[d]["cm_tele2"].ToString() != "")
                {
                    <tr class="">
                        <td colspan="6" style="background-color:white;" class="leftalign"><B>Telephone :-</B>@item.Rows[d]["cm_tele1"].ToString()  @item.Rows[d]["cm_std"].ToString() @item.Rows[d]["cm_tele2"].ToString() </td>
                    </tr>
                }

                @if (ViewBag.RdTrade == "1")
                {

                    <tr class="">
                        <td colspan="6" style="background-color:white;" class="leftalign">Sir/s,  I/we have this day done by you order and on your account the following transaction.</td>
                    </tr>
                }

            </table>

            break;
        }

        <table id="tblLedger" class="table table-responsive">
            <thead>
                <tr class="GroupHeader">
                    <td class="particular">Contract Descriptor</td>
                    <td class="particular">Buy</td>
                    <td class="particular">Sale</td>
                    <td class="particular">Rate/Diff</td>
                    <td class="particular">Brokerage</td>
                    <td class="particular">Net Rate</td>
                </tr>
            </thead>
            <tbody>
                @for (int d = 0; d < item.Rows.Count; d++)
                {
                    buytotal = buytotal + Convert.ToDecimal(item.Rows[d]["td_bqty"]);
                    selltotal = selltotal + Convert.ToDecimal(item.Rows[d]["td_sqty"]);
                    <tr>
                        <td style="background-color:white;">@item.Rows[d]["sm_desc"].ToString()</td>
                        <td style="background-color:white;">@item.Rows[d]["td_bqty"].ToString()</td>

                        <td style="background-color:white;">@item.Rows[d]["td_sqty"].ToString()</td>

                        <td style="background-color:white;">@item.Rows[d]["td_marketrate"].ToString() </td>
                        <td style="background-color:white;">@item.Rows[d]["td_brokerage"].ToString() </td>
                        <td style="background-color:white;">@item.Rows[d]["td_rate"].ToString() </td>

                    </tr>

                }
                <tr>
                    <td style="background-color:#bce8f1;">Total</td>
                    <td style="background-color:#bce8f1;">@buytotal</td>

                    <td style="background-color:#bce8f1;">@selltotal</td>

                    <td style="background-color:#bce8f1;"> </td>
                    <td style="background-color:#bce8f1;"> </td>
                    <td style="background-color:#bce8f1;"> </td>
                </tr>

            </tbody>
        </table>

        <table style="width:100%;">

            @{
                DataTable dt = (DataTable)HttpContext.Current.Session["FSpecialCharges"];
            <tr>
                    <td>
                        @for (int d = 0; d < dt.Rows.Count; d++)
                        {
                            if (dt.Rows[d]["fc_clientcd"].ToString().Trim() == item.Rows[0]["cm_cd"].ToString().Trim())
                            { <strong>   @dt.Rows[d]["fc_desc"].ToString()::</strong> @dt.Rows[d]["fc_amount"].ToString() <br />}

                        }

                    </td>
                </tr>
                <tr>
                    <td>
                        ----------------------------------------------------------------------------------------------------------
                    </td>
                </tr>
            }
        </table>

                }
</div>
