@model IEnumerable<System.Data.DataTable>

@{
    Layout = null;
    int j = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Continuous Shortfall(MTF)</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        .rightalign {
            text-align: right;
        }

        .leftalign {
            text-align: left;
        }

        tr td {
            padding: 4px !important;
            margin: 4px !important;
        }

        .GroupHeader {
            background: #4682B4;
            color: white;
        }

        .table {
            /*font-family: Verdana !important;
            font-size: 10px !important;
            border-collapse: collapse;
            border: 0.01em;
            border-color: #bce8f1;
            width: 100%;*/
            font-family: Verdana !important;
            font-size: 10px !important;
            border: 1px solid black;
            border-color: #4682B4;
            border-radius: 5px;           
            max-width: calc(100% - 2em);
            margin: 1em auto;
            overflow: hidden;
            width: 600px;
        }

        tr:nth-child(even) {
            background-color: lightsteelblue;
        }
    </style>
</head>
<body>
    <div class="panel-body">



        @foreach (var d in Model)
        {
            if (j == 0)
            {
                <table id="tblClient" class="table">
                    <tbody>
                        <tr>
                            <th colspan="4" class="GroupHeader centeralign">
                                <strong> Continuous Shortfall</strong>
                            </th>
                        </tr>
                        <tr>
                            <td class="leftalign">Client Code:</td>

                            <td class="leftalign">@d.Rows[0]["Td_Clientcd"].ToString()</td>
                            <td>&nbsp;</td>

                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="leftalign">Name:</td>

                            <td class="leftalign">@d.Rows[0]["cm_name"].ToString()</td>
                            <td>&nbsp;</td>

                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="leftalign">Client Limit:</td>

                            <td class="leftalign">@String.Format("{0:0.00}", d.Rows[0]["Td_Limit"])</td>
                            <td class="leftalign">Funded Amount:</td>

                            <td class="leftalign">@String.Format("{0:0.00}", d.Rows[0]["Td_FundedAmount"])</td>
                        </tr>
                        <tr>
                            <td class="leftalign">Trading a/c Balance:</td>

                            <td class="leftalign">@String.Format("{0:0.00}", d.Rows[0]["Td_TplusBal"])</td>
                            <td class="leftalign">Loan a/c Balance [T+2]:</td>

                            <td class="leftalign">@String.Format("{0:0.00}", d.Rows[0]["Td_LoanBal"])</td>
                        </tr>
                        <tr>
                            <td class="leftalign">Collateral Fund :</td>

                            <td class="leftalign">@((d.Rows[0]["Td_CollateralFund"].ToString() == "0.0000") ? "" : String.Format("{0:0.00}", d.Rows[0]["Td_CollateralFund"]))</td>

                            <td class="leftalign">Collateral Stock:</td>

                            <td class="leftalign">@String.Format("{0:0.00}", d.Rows[0]["Td_CollateralValue"])</td>
                        </tr>
                        <tr>
                            <td class="leftalign">Initial Margin Req:</td>

                            <td class="leftalign">@String.Format("{0:0.00}", d.Rows[0]["Td_FundedMrgReq"])</td>
                            <td class="leftalign">M2M Loss:</td>

                            <td class="leftalign">@String.Format("{0:0.00}", d.Rows[0]["Td_M2MLoss"])</td>
                        </tr>
                        <tr>
                            <td class="leftalign">Shortfall/Excess :</td>

                            <td class="leftalign">@String.Format("{0:0.00}", d.Rows[0]["Td_ShortFallExcess"])</td>
                            <td>&nbsp;</td>

                            <td>&nbsp;</td>
                        </tr>

                    </tbody>
                </table>
                <br />
            }
            else
            {
                <table class="table" width="100%"  class="GroupHeader">

                    <thead>

                        <tr>
                            <th class="GroupHeader leftalign">
                                <b>Scrip</b>
                            </th>
                            <th class="GroupHeader leftalign">
                                <b>Scrip Name</b>
                            </th>
                            <th class="GroupHeader rightalign">
                                <b>Quantity</b>
                            </th>
                            <th class="GroupHeader rightalign">
                                <b>Cost(Actual) </b>
                            </th>
                            <th class="GroupHeader rightalign">
                                <b>Value(Close Price) </b>
                            </th>
                            <th class="GroupHeader rightalign">
                                <b>MTM</b>
                            </th>
                            <th class="GroupHeader rightalign">
                                <b>Margin %</b>
                            </th>
                            <th class="GroupHeader rightalign">
                                <b>Margin Req</b>
                            </th>
                            <th class="GroupHeader rightalign">
                                <b>Exch</b>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            decimal Quantity = 0;
                            decimal Cost = 0;
                            decimal Value = 0;
                            decimal MTM = 0;
                            decimal Margin = 0;

                        }

                        @for (int i = 0; i < d.Rows.Count; i++)
                        {
                            Quantity = Quantity + Convert.ToDecimal(d.Rows[i]["Qty"]);
                            Cost = Cost + Convert.ToDecimal(d.Rows[i]["ActualCost"]);
                            Value = Value + Convert.ToDecimal(d.Rows[i]["ClosePrice"]);
                            MTM = MTM + (Convert.ToDecimal(d.Rows[i]["ClosePrice"]) - Convert.ToDecimal(d.Rows[i]["ActualCost"]));
                            Margin = Margin + Convert.ToDecimal(d.Rows[i]["MarginReq"]);

                            <tr>
                                <td class="leftalign">
                                    @d.Rows[i]["Tcd_Scripcd"].ToString()

                                </td>
                                <td class="leftalign">
                                    @d.Rows[i]["ss_Name"].ToString()

                                </td>
                                <td class="rightalign">
                                    @d.Rows[i]["Qty"].ToString()

                                </td>
                                <td class="rightalign">
                                    @String.Format("{0:0.00}", d.Rows[i]["ActualCost"])


                                </td>
                                <td class="rightalign">
                                    @String.Format("{0:0.00}", d.Rows[i]["ClosePrice"])


                                </td>
                                <td class="rightalign">
                                    @String.Format("{0:0.00}", (Convert.ToDecimal(d.Rows[i]["ClosePrice"]) - Convert.ToDecimal(d.Rows[i]["ActualCost"])))


                                </td>
                                <td class="rightalign">
                                    @String.Format("{0:0.00}", d.Rows[i]["Tcd_MrgHairCut"])


                                </td>
                                <td class="rightalign">
                                    @String.Format("{0:0.00}", d.Rows[i]["MarginReq"])


                                </td>
                                <td class="rightalign">
                                    @String.Format("{0:0.00}", d.Rows[i]["Tcd_Exchange"])


                                </td>
                            </tr>
                        }
                        <tr style="background-color:lightsteelblue;font-weight:700" >
                            <td class="leftalign">
                                Total:

                            </td>
                            <td class="rightalign"></td>
                            <td class="rightalign">
                                @Quantity

                            </td>
                            <td class="rightalign">
                                @String.Format("{0:0.00}", Cost)


                            </td>
                            <td class="rightalign">
                                @String.Format("{0:0.00}", Value)


                            </td>
                            <td class="rightalign">
                                @String.Format("{0:0.00}", MTM)


                            </td>
                            <td class="rightalign"></td>
                            <td class="rightalign">
                                @String.Format("{0:0.00}", Margin)


                            </td>
                            <td class="rightalign"></td>
                        </tr>
                    </tbody>
                </table>
                                }

                                j++;
                            }


    </div>
</body>
</html>
