@model IEnumerable<TRADENET.Models.FOBillprintModel>

@{
    Layout = null;
    string strstlmnt = "";
    decimal allTotalR2 = 0;
    decimal allTotalR1 = 0;
    decimal Dueto = 0;
}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>F & O Bill</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        .rightalign {
            text-align: right;
        }

        .leftalign {
            text-align: left;
        }

        tr td {
            padding: 4px !important;
            margin: 4px !important;
        }

        .GroupHeader {
            background: #4682B4;
            color: white;
        }

        .table {
            font-family: Verdana !important;
            font-size: 10px !important;
        }
    </style>

    <script>
        function exportToExcel(Filename, tablename, Cname, Title) {

            var htmls = "";
            var uri = 'data:application/vnd.ms-excel;base64,';
            var template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><tr>{table}</tr></body></html>';
            var base64 = function (s) {
                return window.btoa(unescape(encodeURIComponent(s)))
            };

            var format = function (s, c) {
                return s.replace(/{(\w+)}/g, function (m, p) {
                    return c[p];
                })
            };

            var tab_text = "<table border='1px'> <tr style='font-weight:bold;'><b>" + Cname + "<br/>" + Title + "<b/>";

            var textRange; var j = 0;
            tab = document.getElementById(tablename); // id of table


            for (j = 0; j < tab.rows.length; j++) {
                tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
                //tab_text=tab_text+"</tr>";
            }

            tab_text = tab_text + "</table>";
            tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
            tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
            tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params


            htmls = tab_text;

            var ctx = {
                worksheet: 'Worksheet',
                table: htmls
            }


            var link = document.createElement("a");
            link.download = Filename + ".xls";
            link.href = uri + base64(format(template, ctx));
            link.click();
        }

    </script>
</head>
<html>
<body>

    <div class="panel-body">
        <div id="divSaveReport">
            Export ::<input id="export" type="button" onclick="exportToExcel('F&OBill', 'tblcommon', '','')" class="excel-button" value="To Excel" />
        </div>
        <div id="GridNew">
            <table id="tblcommon">

                <tr>

                    <td>

                        <table id="tblClient" style="font-family: Verdana !important; font-size: 10px !important; background-color:#d9edf7; text-align:left" width="100%">
                            <tbody>
                                <tr><td colspan="8" style="text-align:center;font-weight:bold">@System.Configuration.ConfigurationManager.AppSettings["OrganizationName"].ToString()</td></tr>
                                @foreach (var d in Model)
                                {
                                    <tr>
                                        <td class="rightalign"> Bill No.</td>
                                        <td colspan="8" style="text-align:left">@d.billno</td>

                                    </tr>
                                    <tr>
                                        <td class="rightalign">Bill Date</td>
                                        <td colspan="8" style="text-align:left">@ViewBag.strDate</td>

                                    </tr>
                                    <tr>
                                        <td class="rightalign">Client</td>
                                        <td colspan="8" style="text-align:left">@d.GetClientDetail.Name [@d.GetClientDetail.Code]</td>

                                    </tr>
                                    <tr>
                                        <td class="rightalign">Address</td>
                                        <td colspan="8" class="leftalign">@d.GetClientDetail.Add1</td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="8" class="leftalign">@d.GetClientDetail.Add2</td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="8" class="leftalign">@d.GetClientDetail.Add3</td>


                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="8" class="leftalign">@d.GetClientDetail.City</td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="8" style="text-align:left">@d.GetClientDetail.Pincode</td>

                                    </tr>
                                    <tr>
                                        <td class="rightalign">PAN</td>
                                        <td colspan="8" style="text-align:left">@d.GetClientDetail.PAN</td>

                                    </tr>

                                    {
                                        strstlmnt = d.GetClientDetail.Settlement;
                                    }
                                    break;
                                }
                            </tbody>
                        </table>

                        <table id="tblFOBillPrint" class="table">
                            <thead>
                                <tr style=" background: #4682B4; color: white;">

                                    <td colspan="9" style="text-align:center;">------------------------Sold For You------------------------------------------Bought For You------------------------------</td>


                                </tr>
                                <tr style=" background: #4682B4; color: white;">

                                    <td class="rightalign">Date</td>
                                    <td class="rightalign">Credit</td>
                                    <td class="rightalign">Rate</td>
                                    <td class="rightalign">SellQty</td>
                                    <td class="leftalign">Contract Description</td>
                                    <td class="rightalign">Closing Pr.</td>
                                    <td class="rightalign">BuyQty</td>
                                    <td class="leftalign">Rate</td>
                                    <td class="rightalign">Debit</td>
                                </tr>
                            </thead>
                            <tbody>

                                @{var groups = Model.GroupBy(x => x.sm_desc).ToList();
                                    foreach (var group in groups)
                                    {

                                        decimal totalBuyQut = 0;
                                        decimal totalSellQut = 0;
                                        decimal totalDebit = 0;
                                        decimal totalCredit = 0;
                                        decimal result = 0;
                                        foreach (var d in Model)
                                        {

                                            if (d.sm_desc == group.Key)
                                            {
                                                if (d.sm_desc != "")
                                                {
                                                    if (d.BuyQty == 0)
                                                    {
                                                        <tr>
                                                            @if (d.tx_controlflag == 1)
                                                            {
                                                                <td class="leftalign">b/f</td>
                                                                @*<td class="rightalign"></td>*@
                                                            }
                                                            else if (d.tx_controlflag == 3)
                                                            {
                                                                <td class="leftalign">c/f</td>
                                                                @*<td class="rightalign"></td>*@
                                                            }
                                                            else
                                                            {
                                                                <td class="rightalign">@ViewBag.strDate </td>
                                                            }



                                                            <td class="leftalign">@System.Math.Abs(d.Credit).ToString("0.00")</td>
                                                            <td class="rightalign">@d.SellRate </td>
                                                            <td class="rightalign">@d.SellQty</td>

                                                            <td class="rightalign">@d.ContractDescriptor</td>
                                                            <td class="rightalign">@d.ClosingPr.ToString("0.00")</td>
                                                            <td class="rightalign"></td>
                                                            <td class="leftalign"></td>

                                                            <td class="rightalign"></td>
                                                        </tr>
                                                        totalSellQut = totalSellQut + d.SellQty;

                                                        totalCredit = totalCredit + d.Credit;

                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            @if (d.tx_controlflag == 1)
                                                            {
                                                                <td class="leftalign">b/f</td>
                                                                @*<td class="rightalign"></td>*@
                                                            }
                                                            else if (d.tx_controlflag == 3)
                                                            {
                                                                <td class="leftalign">c/f</td>
                                                                @*<td class="rightalign"></td>*@
                                                            }
                                                            else
                                                            {
                                                                <td class="rightalign">@ViewBag.strDate </td>
                                                            }

                                                            <td class="leftalign"></td>
                                                            <td class="rightalign"></td>
                                                            <td class="rightalign"></td>

                                                            <td class="rightalign">@d.ContractDescriptor</td>
                                                            <td class="rightalign">@d.ClosingPr.ToString("0.00")</td>
                                                            <td class="rightalign">@d.BuyQty</td>
                                                            <td class="leftalign">@d.BuyRate</td>

                                                            <td class="rightalign">@d.Debit.ToString("0.00")</td>
                                                        </tr>
                                                        totalBuyQut = totalBuyQut + d.BuyQty;
                                                        totalDebit = totalDebit + d.Debit;
                                                    }
                                                }
                                            }

                                        }
                                        result = (System.Math.Abs(totalCredit) - System.Math.Abs(totalDebit));
                                        decimal R1 = 0;
                                        decimal R2 = 0;

                                        string SR1 = "";
                                        string SR2 = "";
                                        if (result < 0)
                                        {

                                            R1 = System.Math.Abs(result);
                                            SR1 = R1.ToString("0.00");
                                            if (group.Key != "")
                                            {
                                                <tr style="background-color:#d9edf7; color:black; font-weight:bold;">
                                                    <td class="leftalign"></td>
                                                    <td class="rightalign"></td>
                                                    <td class="leftalign"></td>
                                                    <td class="rightalign">@totalSellQut</td>
                                                    <td class="rightalign"></td>
                                                    <td class="rightalign"></td>
                                                    <td class="rightalign">@totalBuyQut</td>
                                                    <td class="rightalign"></td>
                                                    <td class="rightalign">@SR1</td>


                                                </tr>
                                                allTotalR1 = allTotalR1 + R1;
                                            }

                                        }
                                        else
                                        {
                                            R2 = System.Math.Abs(result);
                                            SR2 = R2.ToString("0.00");
                                            if (group.Key != "")
                                            {
                                                <tr style="background-color:#d9edf7; color:black; font-weight:bold;">
                                                    <td class="leftalign"></td>
                                                    <td class="rightalign"></td>
                                                    <td class="leftalign">@SR2</td>
                                                    <td class="rightalign">@totalSellQut</td>
                                                    <td class="rightalign"></td>
                                                    <td class="rightalign"></td>
                                                    <td class="rightalign">@totalBuyQut</td>
                                                    <td class="rightalign"></td>
                                                    <td class="leftalign"></td>


                                                </tr>
                                                allTotalR2 = allTotalR2 + R2;
                                            }
                                        }

                                    }

                                    Dueto = allTotalR1 - allTotalR2;
                                    <tr style="background-color:white; color:black; font-weight:bold;">
                                        <td class="leftalign"></td>
                                        <td class="rightalign"></td>
                                        <td class="leftalign"></td>
                                        <td class="rightalign"></td>
                                        <td class="rightalign"></td>
                                        <td class="rightalign"></td>
                                        <td class="rightalign"></td>
                                        <td class="rightalign"></td>
                                        <td class="leftalign"></td>


                                    </tr>
                                    if (Dueto < 0)
                                    {
                                        <tr style="background-color:white; color:black; font-weight:bold;">
                                            <td class="leftalign"></td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign">@System.Math.Abs(Dueto).ToString("0.00")</td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign">MTM/Premium Total</td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign"></td>


                                        </tr>
                                    }
                                    else
                                    {
                                        <tr style="background-color:white; color:black; font-weight:bold;">
                                            <td class="leftalign"></td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign">MTM/Premium Total</td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign">@System.Math.Abs(Dueto).ToString("0.00")</td>


                                        </tr>
                                    }

                                    decimal taxtTotal = 0;
                                    foreach (var d in Model)
                                    {

                                        if (d.sm_desc.Trim() == "")
                                        {
                                            <tr style="background-color:white; color:black; font-weight:bold;">
                                                <td class="leftalign"></td>
                                                <td class="rightalign"></td>
                                                <td class="rightalign"></td>
                                                <td class="rightalign"></td>
                                                <td class="rightalign"></td>
                                                <td class="rightalign">@d.tax_desc</td>
                                                <td class="rightalign"></td>
                                                <td class="rightalign"></td>
                                                <td class="rightalign">@d.Credit.ToString("0.00")</td>


                                            </tr>
                                            taxtTotal = d.Credit + taxtTotal;
                                        }
                                    }
                                    if (Dueto < 0)
                                    {
                                        taxtTotal = Dueto + taxtTotal;
                                        <tr style="background-color:white; color:black; font-weight:bold;">
                                            <td class="leftalign"></td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign">@System.Math.Abs(taxtTotal).ToString("0.00")</td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign">Due to You</td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign"></td>


                                        </tr>
                                    }
                                    else
                                    {
                                        taxtTotal = taxtTotal + Dueto;
                                        <tr style="background-color:white; color:black; font-weight:bold;">
                                            <td class="leftalign"></td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign">Due to us</td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign"></td>
                                            <td class="rightalign">@System.Math.Abs(taxtTotal).ToString("0.00")</td>


                                        </tr>

                                    }


                                }


                            </tbody>
                        </table>

                    </td>
                </tr>
            </table>

        </div>
    </div>
</body>
</html>
