@model IEnumerable<TRADENET.Models.LedgerModel>
@{
    ViewBag.Title = "Ledger";
    Layout = null;
    decimal CrTotal = 0;
    decimal DrTotal = 0;
    decimal GroupBalance = 0;
    decimal GrandCrTotal = 0;
    decimal GrandDrTotal = 0;
    decimal GrandBalance = 0;

    string strCode = "";
}

@if (Model == null || Model.Count() == 0)
{
    <div id="pnlPopup" class="alert alert-info">
        <strong>Info!</strong> NO RECORDS FOUND
    </div>
    return;
}

<style>
    tr:nth-child(even) {background-color: lightsteelblue;}
      .amount {
        width: 100px;
        text-align: right;
        vertical-align: bottom;
    }
    .name {
        text-align: right;
        vertical-align: bottom;
    }
 </style>

<div class="panel-body" style="font-family:Verdana; font-size:11px">
    <table id="tblLedger" class="table table-responsive">
        <thead>
            <tr> <td class="name ">Client Name:</td></tr>
            <tr> <td class="name ">Client Code:</td></tr>
            <tr class="GroupHeader">
               <td class="name"></td>
                <td class="amount">Opening Balance</td>
                <td class="amount">Debit</td>
                <td class="amount">Credit</td>
                <td class="amount">Balance</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model)
            {
                if (strCode.Trim() != d.ClientCd.ToString().Trim())
                {
                    if (strCode.Trim() != "")
                    {
                        <tr>
                            <td class="GroupHeader" colspan="4"><strong>Total</strong></td>
                            @if (@DrTotal > 0)
                            {
                                <td class="rightalign GroupHeader"><strong>@String.Format("{0:0.00}", DrTotal)</strong></td>
                            }
                            else
                            {
                                <td class="GroupHeader"></td>
                            }

                            @if (@CrTotal > 0)
                            {
                                <td class="rightalign GroupHeader"><strong>@String.Format("{0:0.00}", CrTotal)</strong></td>
                            }
                            else
                            {
                                <td class="GroupHeader"></td>
                            }
                            @if (GroupBalance <= 0)
                            {
                                GroupBalance = Math.Abs(GroupBalance);
                                <td class="rightalign GroupHeader"><strong>@String.Format("{0:0.00}", GroupBalance)</strong></td>
                                <td class="GroupHeader"><strong>Cr</strong></td>
                            }
                            else
                            {
                                <td class="rightalign GroupHeader"><strong>@String.Format("{0:0.00}", GroupBalance)</strong></td>
                                <td class="GroupHeader"><strong>Dr</strong></td>
                            }
                        </tr>
                    }
                    <tr>
                        <td class="GroupHeader" colspan="8"><strong>[  @d.ClientName ] </strong></td>
                    </tr>
                    strCode = d.ClientCd.ToString().Trim();
                    CrTotal = 0;
                    DrTotal = 0;
                    GroupBalance = 0;
                }

                {

                    if (d.Credit > 0)
                    {
                        CrTotal += d.Credit;
                        GrandCrTotal += d.Credit;
                        GroupBalance -= d.Credit;
                        GrandBalance -= d.Credit;
                    }
                    else
                    {
                        DrTotal += d.Debit;
                        GrandDrTotal += d.Debit;
                        GroupBalance += d.Debit;
                        GrandBalance += d.Debit;
                    }
                }

                <tr>
                    <td>@d.Date</td>
                    <td>@d.ExSeg</td>
                    <td>@d.Voucher</td>
                    @if (d.DocType == "B")
                    {
                        <td><a href="#">@d.Particular</a></td>
                    }
                    else
                    {
                        <td>@d.Particular</td>
                    }
                    @if (@d.Debit > 0)
                    {
                        <td class="rightalign">@String.Format("{0:0.00}", d.Debit)</td>
                        <td></td>
                    }
                    else if (@d.Credit > 0)
                    {
                        <td></td>
                        <td class="rightalign">@String.Format("{0:0.00}", d.Credit)</td>
                    }
                    <td class="rightalign">@String.Format("{0:0.00}", d.Balance)</td>
                    <td>@d.Flag</td>
                </tr>
            }
            <tr>
                <td class="GroupHeader" colspan="4"><strong>Total</strong></td>
                @if (@DrTotal > 0)
                {
                    <td class="rightalign GroupHeader"><strong>@String.Format("{0:0.00}", DrTotal)</strong></td>
                }
                else
                {
                    <td class="GroupHeader"></td>
                }

                @if (@CrTotal > 0)
                {
                    <td class="rightalign GroupHeader"><strong>@String.Format("{0:0.00}", CrTotal)</strong></td>
                }
                else
                {
                    <td class="GroupHeader"></td>
                }
                @if (GroupBalance <= 0)
                {
                    GroupBalance = Math.Abs(GroupBalance);
                    <td class="rightalign GroupHeader"><strong>@String.Format("{0:0.00}", GroupBalance)</strong></td>
                    <td class="GroupHeader"><strong>Cr</strong></td>
                }
                else
                {
                    <td class="rightalign GroupHeader"><strong>@String.Format("{0:0.00}", GroupBalance)</strong></td>
                    <td class="GroupHeader"><strong>Dr</strong></td>
                }
            </tr>
            <tr>
                <td class="GroupHeader" colspan="4"><strong>Grand Total</strong></td>
                @if (@GrandDrTotal > 0)
                {
                    <td class="rightalign GroupHeader"><strong>@String.Format("{0:0.00}", GrandDrTotal)</strong></td>
                }
                else
                {
                    <td class="GroupHeader"></td>
                }

                @if (@GrandCrTotal > 0)
                {
                    <td class="rightalign GroupHeader"><strong>@String.Format("{0:0.00}", GrandCrTotal)</strong></td>
                }
                else
                {
                    <td class="GroupHeader"></td>
                }
                @if (GrandBalance <= 0)
                {
                    GrandBalance = Math.Abs(GrandBalance);
                    <td class="rightalign GroupHeader"><strong>@String.Format("{0:0.00}", GrandBalance)</strong></td>
                    <td class="GroupHeader"><strong>Cr</strong></td>
                }
                else
                {
                    <td class="rightalign GroupHeader"><strong>@String.Format("{0:0.00}", GrandBalance)</strong></td>
                    <td class="GroupHeader"><strong>Dr</strong></td>
                }
            </tr>
        </tbody>
    </table>
</div>
@section Scripts
{
    <script src="~/AdminLTE/moment/min/moment.min.js"></script>
    <script src="~/AdminLTE/daterangepicker/daterangepicker.js"></script>
    <script src="~/AdminLTE/multiselct/dist/js/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/tpluslibrary.js"></script>

    <script type="text/javascript">
        $(".ledgerhead").click(function () {
            $('.ledgerbody').toggle();
        });
        
        $.ajax({
            type: "GET",
            url: '@Url.Action("LinkView", "Tplus")',
            dataType: "html",
            data: { 'Select': $("#cmbSelect").val(), 'Code': Code, 'FromDate': FromDt, 'ToDate': ToDt, 'strDPID': Dpid },
            contentType: "application/html; charset=utf-8",
            beforeSend: function () {
                $("#RMS").attr("disabled", true);
                $('#divModalProgress').modal('show');
            },
            success: function (response) {
                $('#divReportPanelHeader').html(display);
                $('#divReportPanelBody').html(response);
                $('#divReportPanel').show();
                $("#RMS").attr("disabled", false);
            },
            complete: function () {
                $('#divModalProgress').modal('hide');
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

       


        </script>
