
@model System.Data.DataTable
@using System.Data;

@{
    Layout = null;

}
<meta http-equiv="content-type" content="text/plain; charset=UTF-8" />

@if (Model == null || Model.Rows.Count == 0)
{
    <div id="pnlPopup" class="alert alert-info">
        <strong>Info!</strong> NO RECORDS FOUND
    </div>
    return;
}
<style>
    body {
        padding-right: 0px !important;
        margin-right: 0px !important;
    }

    .rightalign {
        text-align: right;
    }

    .leftalign {
        text-align: left;
    }

    .centeralign {
        text-align: center;
    }

    tr td {
        padding: 4px !important;
        margin: 4px !important;
    }

    .GroupHeader {
        background: #4682B4;
        color: white;
    }

    .table {
        font-family: Verdana !important;
        font-size: 11px !important;
        width: 100%;
    }

    tr:nth-child(even) {
        background-color: lightsteelblue;
    }

    .myLink {
        text-decoration: underline;
        cursor: pointer;
        color: dodgerblue;
    }
</style>
<script src="~/Scripts/excellentexport.js"></script>

<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {

            $("input[name='GridHtml']").val($("#GridNew").html());
            $("input[name='reporttittle']").val($("#divReportPanelHeader").text());
            $("input[name='reportname']").val($("#divReportPanelHeader").text());
        });
    });
</script>
<div>
    <div id="divSaveReport" style="float:left;display:inline-block">
        Export::  <a download="TradeListing.xls" href="#" class="excel-button" onclick="return ExcellentExport.excel(this, 'tblClientExcel', 'Sheet Name Here')">Export to Excel</a>
        @*Export :: <input id="export" type="button" onclick="exportToExcel('TradeListing', 'tblClientpdf','@System.Configuration.ConfigurationManager.AppSettings["OrganizationName"].ToString().Trim()', document.getElementById('divReportPanelHeader').textContent)" class="excel-button" value="To Excel" />*@
    </div>

    <div id="divSaveReport1" style="float:left;">
        @using (Html.BeginForm("Export", "Tplus", FormMethod.Post))
        {
            <input type="hidden" name="GridHtml" /><input type="hidden" name="reporttittle" /><input type="hidden" name="reportname" /><input type="submit" id="btnSubmit" value="To PDF" style="margin-left:10px" />
        }
    </div>

    <table id="tblClient" class="table">
        <tr class="GroupHeader">
            <td class="centeralign" colspan="2" style="border-right: 1px solid #fff; border-bottom: 1px solid #fff;">Scrip</td>
            <td class="centeralign" colspan="3" style="border-right: 1px solid #fff; border-bottom: 1px solid #fff;"> Buy</td>
            <td class="centeralign" colspan="3" style="border-right: 1px solid #fff; border-bottom: 1px solid #fff;">Sell </td>
            <td class="centeralign" colspan="2" style="border-right: 1px solid #fff; border-bottom: 1px solid #fff;">Net</td>
            @*<td class="centeralign" colspan="1" style="border-right: 1px solid #fff; border-bottom: 1px solid #fff;"></td>*@
            <td class="centeralign" style="vertical-align: middle;" rowspan="2"><input id="Add" type="submit" value='Add New' style="color:black" /></td>
          
        </tr>
        <tr class="GroupHeader">
            <td style="border-right: 1px solid #fff;" class="leftalign GroupHeader">Code</td>
            <td style="border-right: 1px solid #fff;" class="leftalign GroupHeader"> Name</td>
            <td style="border-right: 1px solid #fff;" class="rightalign GroupHeader">Qty </td>
            <td style="border-right: 1px solid #fff; " class="rightalign GroupHeader">Rate</td>
            <td style="border-right: 1px solid #fff; " class="rightalign GroupHeader"> Amount</td>
            <td style="border-right: 1px solid #fff; " class="rightalign GroupHeader">Qty </td>
            <td style="border-right: 1px solid #fff; " class="rightalign GroupHeader">Rate</td>
            <td style="border-right: 1px solid #fff; " class="rightalign GroupHeader"> Amount</td>
            <td style="border-right: 1px solid #fff;" class="rightalign GroupHeader">Qty </td>
            <td style="border-right: 1px solid #fff;" class="rightalign GroupHeader"> Amount</td>
            @*<td style="border-right: 1px solid #fff;" class="rightalign GroupHeader"> </td>*@

        </tr>



        @{ decimal amountBqty = 0;
            decimal amountBAmt = 0;
            decimal amountsqty = 0;
            decimal amountSAmt = 0;
            decimal amountNetQty = 0;
            decimal amountNAmt = 0;


        }
        @for (int ir = 0; ir < Model.Rows.Count; ir++)
        {
            amountBqty = amountBqty + Convert.ToDecimal(Model.Rows[ir]["Bqty"].ToString());
            amountBAmt = amountBAmt + Convert.ToDecimal(Model.Rows[ir]["BAmt"].ToString());
            amountsqty = amountsqty + Convert.ToDecimal(Model.Rows[ir]["sqty"].ToString());
            amountSAmt = amountSAmt + Convert.ToDecimal(Model.Rows[ir]["SAmt"].ToString());
            amountNetQty = amountNetQty + Convert.ToDecimal(Model.Rows[ir]["NetQty"].ToString());

            amountNAmt = amountNAmt + Convert.ToDecimal(Model.Rows[ir]["NAmt"].ToString());



            <tr>
                <td class="leftalign "style="border: 1px solid black;">@Model.Rows[ir]["td_scripcd"].ToString()</td>
                <td class="leftalign"style="border: 1px solid black;">@Model.Rows[ir]["ScripName"].ToString()</td>
                <td class="rightalign"style="border: 1px solid black;">@Model.Rows[ir]["Bqty"].ToString()</td>
                <td class="rightalign"style="border: 1px solid black;">@Model.Rows[ir]["BRate"].ToString()</td>
                <td class="rightalign"style="border: 1px solid black;">@Model.Rows[ir]["BAmt"].ToString()</td>
                <td class="rightalign"style="border: 1px solid black;">@Model.Rows[ir]["sqty"].ToString()</td>
                <td class="rightalign"style="border: 1px solid black">@Model.Rows[ir]["SRate"].ToString()</td>
                <td class="rightalign"style="border: 1px solid black;">@Model.Rows[ir]["SAmt"].ToString()</td>
                <td class="rightalign"style="border: 1px solid black;">@Model.Rows[ir]["NetQty"].ToString()</td>
                <td class="rightalign"style="border: 1px solid black;">@Model.Rows[ir]["NAmt"].ToString()</td>
                <td class="centeralign  myLink Click">Manage Data</td>
                @*<td class="rightalign" hidden="hidden">Manage Data</td>*@
            </tr>
        }
        <tr class="GroupHeader">
            <td class="GroupHeader rightalign"></td>

            <td class="GroupHeader leftalign"><strong>Grand Total :</strong></td>

            <td class="GroupHeader rightalign"style="border: 1px solid White"><strong>@String.Format("{0:0.00}", amountBqty)</strong></td>

            <td class="GroupHeader rightalign"></td>
            <td class="GroupHeader rightalign"style="border: 1px solid White"><strong>@String.Format("{0:0.00}", amountBAmt)</strong></td>

            <td class="GroupHeader rightalign"style="border: 1px solid White"><strong>@String.Format("{0:0.00}", amountsqty)</strong></td>
            <td class="GroupHeader rightalign"></td>
            <td class="GroupHeader rightalign"style="border: 1px solid White"><strong>@String.Format("{0:0.00}", amountSAmt)</strong></td>

            <td class="GroupHeader rightalign"style="border: 1px solid White"><strong>@String.Format("{0:0.00}", amountNetQty)</strong></td>

            <td class="GroupHeader rightalign"style="border: 1px solid White"><strong>@String.Format("{0:0.00}", amountNAmt)</strong></td>
            <td class="GroupHeader rightalign" hidden="hidden"> </td>

    </table>

    <table id="tblClientExcel" style="border:1px; border-color:black;" hidden="hidden">
        <thead style="font-weight:bold;">
            <tr>
                <th colspan="10">
                    @{
                        string strOrg = "";
                        if (System.Configuration.ConfigurationManager.AppSettings["OrganizationName"] != null)
                        {
                            strOrg = (string)System.Configuration.ConfigurationManager.AppSettings["OrganizationName"].ToString().Trim();
                        }
                    }@strOrg
                </th>


            </tr>
            <tr>
                <th colspan="10"><div id="reportId"></div></th>

            </tr>
            <tr>
                <th colspan="2" style="background-color:#d4ebf2;" ><strong>Scrip</strong></th>
                <th colspan="3" style="background-color:#d4ebf2;"> Buy</th>
                <th colspan="3" style="background-color:#d4ebf2;">Sell </th>
                <th colspan="2" style="background-color:#d4ebf2;">Net</th>

            </tr>
            <tr>
                <th style="background-color:#d4ebf2;">Code</th>
                <th style="background-color:#d4ebf2;"> Name</th>
                <th style="background-color:#d4ebf2;">Qty </th>
                <th style="background-color:#d4ebf2;">Rate</th>
                <th style="background-color:#d4ebf2;"> Amount</th>
                <th style="background-color:#d4ebf2;">Qty </th>
                <th style="background-color:#d4ebf2;">Rate</th>
                <th style="background-color:#d4ebf2;"> Amount</th>
                <th style="background-color:#d4ebf2;">Qty </th>
                <th style="background-color:#d4ebf2;"> Amount</th>


            </tr>
        </thead>
        <tbody>
            @for (int ir = 0; ir < Model.Rows.Count; ir++)
            {
                amountBqty = amountBqty + Convert.ToDecimal(Model.Rows[ir]["Bqty"].ToString());
                amountBAmt = amountBAmt + Convert.ToDecimal(Model.Rows[ir]["BAmt"].ToString());
                amountsqty = amountsqty + Convert.ToDecimal(Model.Rows[ir]["sqty"].ToString());
                amountSAmt = amountSAmt + Convert.ToDecimal(Model.Rows[ir]["SAmt"].ToString());
                amountNetQty = amountNetQty + Convert.ToDecimal(Model.Rows[ir]["NetQty"].ToString());

                amountNAmt = amountNAmt + Convert.ToDecimal(Model.Rows[ir]["NAmt"].ToString());



                <tr>
                    <td class="leftalign ">@Model.Rows[ir]["td_scripcd"].ToString()</td>
                    <td class="leftalign">@Model.Rows[ir]["ScripName"].ToString()</td>
                    <td class="rightalign">@Model.Rows[ir]["Bqty"].ToString() &nbsp;</td>
                    <td class="rightalign">@Model.Rows[ir]["BRate"].ToString() &nbsp;</td>
                    <td class="rightalign">@Model.Rows[ir]["BAmt"].ToString() &nbsp;</td>
                    <td class="rightalign">@Model.Rows[ir]["sqty"].ToString() &nbsp;</td>
                    <td class="rightalign">@Model.Rows[ir]["SRate"].ToString() &nbsp;</td>
                    <td class="rightalign">@Model.Rows[ir]["SAmt"].ToString() &nbsp;</td>
                    <td class="rightalign">@Model.Rows[ir]["NetQty"].ToString() &nbsp;</td>

                    <td class="rightalign">@Model.Rows[ir]["NAmt"].ToString() &nbsp;</td>

                </tr>
            }
            <tr>
                <td class="GroupHeader rightalign"></td>

                <td class="GroupHeader leftalign"><strong>Grand Total :</strong></td>

                <td class="GroupHeader rightalign"style="border: 1px solid White"><strong>@String.Format("{0:0.00}", amountBqty)</strong></td>

                <td class="GroupHeader rightalign"></td>
                <td class="GroupHeader rightalign"style="border: 1px solid White"><strong>@String.Format("{0:0.00}", amountBAmt)</strong></td>

                <td class="GroupHeader rightalign"style="border: 1px solid White"><strong>@String.Format("{0:0.00}", amountsqty)</strong></td>
                <td class="GroupHeader rightalign"></td>
                <td class="GroupHeader rightalign"style="border: 1px solid White"><strong>@String.Format("{0:0.00}", amountSAmt)</strong></td>

                <td class="GroupHeader rightalign"style="border: 1px solid White"><strong>@String.Format("{0:0.00}", amountNetQty)</strong></td>

                <td class="GroupHeader rightalign"style="border: 1px solid White"><strong>@String.Format("{0:0.00}", amountNAmt)</strong></td>


        </tbody>

    </table>

    <div id="GridNew" hidden="hidden">
        <style>
            table {
                font-family: arial, sans-serif;
                font-size: 12px;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px #dddddd;
                padding: 4px;
            }

            .rightalign {
                text-align: right;
            }

            .leftalign {
                text-align: left;
            }

            .centeralign {
                text-align: center;
            }
        </style>

        <table id="tblClientpdf" class="table">
            <tr class="GroupHeader">
                <td class="centeralign" colspan="2" style="border-right: 1px solid #fff; border-bottom: 1px solid #fff;font-weight:bold; background-color:#4682b4; color:white;">Scrip</td>
                <td class="centeralign" colspan="3" style="border-right: 1px solid #fff; border-bottom: 1px solid #fff;font-weight:bold; background-color:#4682b4; color:white;"> Buy</td>
                <td class="centeralign" colspan="3" style="border-right: 1px solid #fff; border-bottom: 1px solid #fff;font-weight:bold; background-color:#4682b4; color:white;">Sell </td>
                <td class="centeralign" colspan="2" style="border-right: 1px solid #fff; border-bottom: 1px solid #fff;font-weight:bold; background-color:#4682b4; color:white;">Net</td>

            </tr>
            <tr class="GroupHeader">
                <td style="border-right: 1px solid #fff;font-weight:bold; background-color:#4682b4; color:white;" class="leftalign GroupHeader">Code</td>
                <td style="border-right: 1px solid #fff;font-weight:bold; background-color:#4682b4; color:white;" class="leftalign GroupHeader"> Name</td>
                <td style="border-right: 1px solid #fff;font-weight:bold; background-color:#4682b4; color:white;" class="rightalign GroupHeader">Qty </td>
                <td style="border-right: 1px solid #fff;font-weight:bold; background-color:#4682b4; color:white;" class="rightalign GroupHeader">Rate</td>
                <td style="border-right: 1px solid #fff;font-weight:bold; background-color:#4682b4; color:white;" class="rightalign GroupHeader"> Amount</td>
                <td style="border-right: 1px solid #fff;font-weight:bold; background-color:#4682b4; color:white;" class="rightalign GroupHeader">Qty </td>
                <td style="border-right: 1px solid #fff;font-weight:bold; background-color:#4682b4; color:white;" class="rightalign GroupHeader">Rate</td>
                <td style="border-right: 1px solid #fff;font-weight:bold; background-color:#4682b4; color:white;" class="rightalign GroupHeader"> Amount</td>
                <td style="border-right: 1px solid #fff;font-weight:bold; background-color:#4682b4; color:white;" class="rightalign GroupHeader">Qty </td>
                <td style="border-right: 1px solid #fff;font-weight:bold; background-color:#4682b4; color:white;" class="rightalign GroupHeader"> Amount</td>


            </tr>



            @{ amountBqty = 0;
                amountBAmt = 0;
                amountsqty = 0;
                amountSAmt = 0;
                amountNetQty = 0;
                amountNAmt = 0;


            }
            @for (int ir = 0; ir < Model.Rows.Count; ir++)
            {
                amountBqty = amountBqty + Convert.ToDecimal(Model.Rows[ir]["Bqty"].ToString());
                amountBAmt = amountBAmt + Convert.ToDecimal(Model.Rows[ir]["BAmt"].ToString());
                amountsqty = amountsqty + Convert.ToDecimal(Model.Rows[ir]["sqty"].ToString());
                amountSAmt = amountSAmt + Convert.ToDecimal(Model.Rows[ir]["SAmt"].ToString());
                amountNetQty = amountNetQty + Convert.ToDecimal(Model.Rows[ir]["NetQty"].ToString());

                amountNAmt = amountNAmt + Convert.ToDecimal(Model.Rows[ir]["NAmt"].ToString());



                <tr>
                    <td class="leftalign ">@Model.Rows[ir]["td_scripcd"].ToString()</td>
                    <td class="leftalign">@Model.Rows[ir]["ScripName"].ToString()</td>
                    <td class="rightalign">@Model.Rows[ir]["Bqty"].ToString() &nbsp;</td>
                    <td class="rightalign">@Model.Rows[ir]["BRate"].ToString() &nbsp;</td>
                    <td class="rightalign">@Model.Rows[ir]["BAmt"].ToString() &nbsp;</td>
                    <td class="rightalign">@Model.Rows[ir]["sqty"].ToString() &nbsp;</td>
                    <td class="rightalign">@Model.Rows[ir]["SRate"].ToString() &nbsp;</td>
                    <td class="rightalign">@Model.Rows[ir]["SAmt"].ToString() &nbsp;</td>
                    <td class="rightalign">@Model.Rows[ir]["NetQty"].ToString() &nbsp;</td>

                    <td class="rightalign">@Model.Rows[ir]["NAmt"].ToString() &nbsp;</td>

                    @*<td class="rightalign  myLink Click">Manage Data</td>*@

                </tr>
            }
            <tr class="GroupHeader">
                <td style="font-weight:bold; background-color:#4682b4; color:white;" class="GroupHeader rightalign"></td>

                <td style="font-weight:bold; background-color:#4682b4; color:white;" class="GroupHeader leftalign"><strong>Grand Total :</strong></td>

                <td style="font-weight:bold; background-color:#4682b4; color:white;" class="GroupHeader rightalign"><strong>@String.Format("{0:0.00}", amountBqty)</strong></td>

                <td style="font-weight:bold; background-color:#4682b4; color:white;" class="GroupHeader rightalign"></td>
                <td style="font-weight:bold; background-color:#4682b4; color:white;" class="GroupHeader rightalign"><strong>@String.Format("{0:0.00}", amountBAmt)</strong></td>

                <td style="font-weight:bold; background-color:#4682b4; color:white;" class="GroupHeader rightalign"><strong>@String.Format("{0:0.00}", amountsqty)</strong></td>
                <td style="font-weight:bold; background-color:#4682b4; color:white;" class="GroupHeader rightalign"></td>
                <td style="font-weight:bold; background-color:#4682b4; color:white;" class="GroupHeader rightalign"><strong>@String.Format("{0:0.00}", amountSAmt)</strong></td>

                <td style="font-weight:bold; background-color:#4682b4; color:white;" class="GroupHeader rightalign"><strong>@String.Format("{0:0.00}", amountNetQty)</strong></td>

                <td style="font-weight:bold; background-color:#4682b4; color:white;" class="GroupHeader rightalign"><strong>@String.Format("{0:0.00}", amountNAmt)</strong></td>


        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("table").delegate("td.Click", "click", function () {
            var column_num = parseInt($(this).index()) + 1;
            var row_num = parseInt($(this).parent().index()) + 1;
            if (row_num != 0 && $(this).parents("tr").find("td:eq(0)").html() != '') {
                var Code = "";
                var clientname = "";
                var valNew = $('#txtSearchbyName').val();
                if (valNew.trim() != "") {
                    valNew = $('#txtSearchbyName').val().split("~");
                    Code = valNew[1];
                    clientname = valNew[0];
                }

                var Id = $(this).parents("tr").find("td:eq(0)").html();
                var scripName = $(this).parents("tr").find("td:eq(1)").html();
                var FromDt = $('#daterange-btn').data('daterangepicker').startDate.format("YYYYMMDD")
                var ToDt = $('#daterange-btn').data('daterangepicker').endDate.format("YYYYMMDD");

                $.ajax({
                    type: "GET",
                    url: '@Url.Action("InvpltradelistingDetail", "Report")',
                    dataType: "html",
                    data: { 'Code': Code, 'FDate': FromDt, 'ToDate': ToDt, 'scripcd': Id, 'scripName': scripName },
                    contentType: "application/html; charset=utf-8",
                    beforeSend: function () {
                        $('#divModalProgress').modal('show');
                    },
                    success: function (response) {
                        $('#myModal').modal('show');
                        $('#divModalBody').html(response)
                        $("#ScripCode").prop("readonly", true);
                        //var w = window.open("", "popupWindow", "width=630, height=230, scrollbars=yes");
                        //var $w = $(w.document.body);
                        //$w.html(response);
                    },
                    complete: function () {
                        $('#divModalProgress').modal('hide');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                    //beforeSend: function () {
                    //    $('#divModalProgress').modal('show');
                    //},
                    //success: function (response) {
                    //    var w = window.open("", "popupWindow", "width=1200, height=300, scrollbars=yes");
                    //    var $w = $(w.document.body);
                    //    $w.html(response);
                    //},
                    //complete: function () {
                    //    $('#divModalProgress').modal('hide');
                    //},
                    //failure: function (response) {
                    //    alert(response.responseText);
                    //},
                    //error: function (response) {
                    //    alert(response.responseText);
                    //}
                });

            }
        });
    });
</script>
  


<script>

    $(document).on("click", "#Add", function (event) {
        event.stopImmediatePropagation();

        $.ajax({
                    type: "GET",
                    url: '@Url.Action("InvpltradelistingDetail", "Report")',
                    dataType: "html",
                    data: { },
                    contentType: "application/html; charset=utf-8",
                    beforeSend: function () {
                        $('#divModalProgress').modal('show');
                    },
                    success: function (response) {
                        $('#myModal').modal('show');
                        $('#divModalBody').html(response)
                       
                    },
                    complete: function () {
                        $('#divModalProgress').modal('hide');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                   
                });


    });

</script>

